<html lang="{{.Lang}}">
<head>
    <title>{{.Config.Content.Title.Tr .Lang}} | Report</title>
    <link rel="stylesheet" href="/static/web/dist/main.css">
    <script defer src="/static/web/dist/alpine.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-gray-50">
{{template "header" .}}
{{$admin := .IsAdministrator}}
<div class="container">
    <h1 class="font-semibold text-xl text-gray-700">{{.Tr.T .Lang "report"}} {{.Report.DateFmt}}</h1>
    {{range $i, $m := .Report.Messages}}
        <!--<div class="bg-white rounded shadow m-5 p-4 ml-9 mr-9">-->
        <div class="shadow rounded my-5 p-4{{if ne $admin $m.IsAdmin}} border-l-4 border-gray-500 mr-4 pl-4{{else}} border-r-4 border-gray-500 ml-4 pr-4{{end}}">
            {{$m.GetBody}}
        </div>
    {{end}}
    <form method="post">
        <label class="w-full mb-2">
            Reply
            <textarea name="reply" class="w-full"></textarea>
        </label>
        <input type="submit" value="Absenden">
    </form>
</div>

{{template "footer" .}}

</body>
</html>
