<html lang="en">
<head>
    {{- /*gotype: github.com/TUM-Dev/meldeplattform/internal.ReportPageData*/ -}}
    <title>{{.Config.Content.Title}} | Report</title>
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="/static/css/alpine.min.js"></script>
</head>

<body>
<div class="container">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="flex-grow: 1; margin: auto">
            <h1 style="flex-grow: 1">Report {{.Report.CreatedAt.Format "02.01.2006 15:04"}}</h1>
        </div>
        <span style="padding: 2rem;">{{.Config.GetLogo}}</span>
    </div>
    {{if not .IsAdministrator}}
        <p>
            This page allows you to further communicate with us about the report you filed.<br>
            Make sure to <b>bookmark, save, write down, etc.</b> the URL and check for our answers and questions
            regularly.
        </p>
    {{else}}
    <div style="margin: auto" x-data="{status: '{{.Report.State}}', text:'{{.Report.State}}'}">
        <span role="button" class="pill pointer" :style="'background-color:'+(status=='open'?'rgb(220 38 38)':'rgb(74 222 128)')" x-text="text"
              @mouseover="text=(status=='open'?'close':'reopen')" @mouseleave="text=status"
              @click="status=(status=='open'?'done':'open'); fetch('/setStatus/'+'{{.Report.AdministratorToken}}', {method:'POST', body: JSON.stringify({status: status})})"></span>
    </div>
    {{end}}
    <hr>
    {{$admin := .IsAdministrator}}
    {{range .Report.Messages}}
        <div class="chat {{if eq .IsAdmin $admin}}chat-end{{else}}chat-start{{end}}">
            <div class="chat-bubble">
                <span style="font-weight: bold; color:#3070b3">
                    {{.CreatedAt.Format "02.01.2006 15:04"}}
                </span>
                <p>
                    {{.GetBody}}
                </p>
            </div>
        </div>
    {{end}}
    <hr>
    <form class="row" method="post">
        <label class="12 columns">
            Reply
            <textarea name="reply" class="12 columns"></textarea>
        </label>
        <input type="submit" value="Absenden">
    </form>
</div>
</body>
</html>
