<html lang="{{.Lang}}">
<head>
    <title>{{.Config.Content.Title.Tr .Lang}} | Report</title>
    <link rel="stylesheet" href="/static/web/dist/main.css">
    <script defer src="/static/web/dist/alpine.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-gray-50">
{{template "header" .}}
{{$admin := .IsAdministrator}}
<div class="container pb-10">
    {{if not $admin}}
        <p class="rounded text-lg font-semibold bg-amber-500/70 shadow p-4 mb-2">{{.Tr.T .Lang "reportOpened"}}</p>
    {{end}}
    <h1 class="font-semibold text-xl text-gray-700">{{.Tr.T .Lang "report"}} {{.Report.DateFmt}}</h1>
    {{if .Report.Creator}}<p class="text-slate-600 font-medium">{{.Report.Creator}}</p>{{end}}
    {{range $i, $m := .Report.Messages}}
        <!--<div class="bg-white rounded shadow m-5 p-4 ml-9 mr-9">-->
        <div class="shadow rounded my-5 bg-white p-4{{if ne $admin $m.IsAdmin}} border-l-4 border-gray-500 mr-4 pl-4{{else}} border-r-4 border-gray-500 ml-4 pr-4{{end}}">
            {{$m.GetBody}}
        </div>
    {{end}}
    <form method="post">
        <label class="w-full mb-2">
            Reply
            <textarea name="reply" class="w-full"></textarea>
        </label>
        <input type="submit" value="Absenden">
    </form>
    {{if $admin}}
        <h2 class="font-semibold text-xl text-gray-700">Status:</h2>
        <div x-data>
            {{if .Report.IsClosed}}
                <button class="button !bg-teal-600/80 border-0 !text-white"
                        @click="fetch('/api/topic/{{.Report.TopicID}}/report/{{.Report.ID}}/status', {method: 'POST', body: JSON.stringify({s:'open'})}).then(r=>window.location.reload())">>
                    Reopen</button>
            {{else}}
                <button class="button !bg-teal-600/80 border-0 !text-white"
                        @click="fetch('/api/topic/{{.Report.TopicID}}/report/{{.Report.ID}}/status', {method: 'POST', body: JSON.stringify({s:'close'})}).then(r=>window.location.reload())">
                Close</button>
            {{end}}
            {{if not .Report.IsSpam}}
            <button class="button !bg-red-600/80 border-0 !text-white"
                    @click="fetch('/api/topic/{{.Report.TopicID}}/report/{{.Report.ID}}/status', {method: 'POST', body: JSON.stringify({s:'spam'})}).then(r=>window.location.reload())">
                Spam</button>
            {{end}}
        </div>
    {{end}}
</div>

{{template "footer" .}}

</body>
</html>
